{% extends "header.html" %}


{% block body %}


<div class="container-fluid">

    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <img height="400" width="623" src="{{p1}}" />
            </div>
          </div>
          <div class="chart-notes">
            Total number of products
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p8}}" />
          </div>
          <div class="chart-notes">
            Previous week Total number of products
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p2}}" />
          </div>
          <div class="chart-notes">
            Product on offer
          </div>
        </div>
      </div>
<!-- end of three -->
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p9}}" />
          </div>
          <div class="chart-notes">
            Previous week product on offer
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p3}}" />
          </div>
          <div class="chart-notes">
            Offer percentage
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p10}}" />
          </div>
          <div class="chart-notes">
            Previous week offer percentage
          </div>
        </div>
      </div>
<!-- end of three -->
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p4}}" />
          </div>
          <div class="chart-notes">
            Items Sold
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p11}}" />
          </div>
          <div class="chart-notes">
            Previous week Items Sold
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p5}}" />
          </div>
          <div class="chart-notes">
            Revneue Generated
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p12}}" />
          </div>
          <div class="chart-notes">
            Previous week revenue generated
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p6}}" />
          </div>
          <div class="chart-notes">
            color variation
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p13}}" />
          </div>
          <div class="chart-notes">
            Previous week color variation
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p7}}" />
          </div>
          <div class="chart-notes">
            Size variation
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="chart-wrapper">
          <div class="chart-title">

          </div>
          <div class="chart-stage">
            <img height="400" width="623" src="{{p14}}" />
          </div>
          <div class="chart-notes">
            Previous week size variation
          </div>
        </div>
      </div>
    </div>
</div>



{% endblock %}